<div class="input-group">
    <div class="input-group-prepend">
        <span class="input-group-text" id="addon-wrapping">
            <i class="material-icons">
                call
            </i>
        </span>
    </div>
    <input type="text" class="form-control" placeholder="Mobile Number" aria-label="mobile"
        aria-describedby="addon-wrapping">
</div>
<div class="input-group">
    <div class="input-group-prepend">
        <span class="input-group-text" id="addon-wrapping">
            <i class="material-icons">
                person
            </i>
        </span>
    </div>
    <input type="text" class="form-control" placeholder="Name" aria-label="Username" aria-describedby="addon-wrapping">
</div>
<div class="input-group">
    <div class="input-group-prepend">
        <span class="input-group-text" id="addon-wrapping">
            <i class="material-icons">
                email
            </i>
        </span>
    </div>
    <input type="email" class="form-control" placeholder="Email Address" aria-label="email"
        aria-describedby="addon-wrapping">
</div>
<div class="input-group">
    <div class="input-group-prepend">
        <span class="input-group-text" id="addon-wrapping">
            <i class="material-icons">
                dialpad
            </i>
        </span>
    </div>
    <input type="text" class="form-control" placeholder="Custom MDN" aria-label="mdn" aria-describedby="addon-wrapping">
    <i class="material-icons search">
            search
        </i>
</div>
<div class="input-group">
    <div class="input-group-prepend">
        <span class="input-group-text" id="addon-wrapping">
            <i class="material-icons"> 
                vpn_key
            </i>
        </span>
    </div>
    <input type="password" class="form-control" placeholder="Enter 4 Digit OTP" aria-label="OTP"
        aria-describedby="addon-wrapping" maxlength="4">
</div>
<button class="btn btn-primary" type="submit">
    <span>Buy
        <i class="material-icons">
            shopping_cart
        </i>
    </span>
</button>