
<app-navbar></app-navbar>

<div class="form-container">
    <div class="login-image">
        <img src="/assets/images/login.png" alt="">
    </div>
    <div class="login-form">
        <form action="/">
            <h1>Welcome Back!</h1>
            <p>For security reasons please re-enter your PIN</p>
            <div class="input-container">
                <input class="input-field otp" type="password" maxlength="1">
                <input class="input-field otp" type="password" maxlength="1">
                <input class="input-field otp" type="password" maxlength="1">
                <input class="input-field otp" type="password" maxlength="1">
                <input class="input-field otp" type="password" maxlength="1">
                <input class="input-field otp" type="password" maxlength="1">
            </div>
            <button type="submit" class="btn" routerLink="/dashboard">Next</button>
        </form>
    </div>
</div>