<app-navbar></app-navbar>

<div class="container">
    <div class="row form-container">
        <div class="col-sm login-image">
            <img src="assets/images/login.png" alt="">
        </div>
        <div class="col-sm login-form">
            <form action="/">
                <h1>Welcome Back!</h1>
                <p>For security reasons please re-enter your PIN</p>
                <div class="input-container">
                    <input class="input-field otp" #pin1 type="password" maxlength="1" (keyup)="next(pin2)">
                    <input class="input-field otp" #pin2 type="password" maxlength="1" (keyup)="next(pin3)">
                    <input class="input-field otp" #pin3 type="password" maxlength="1" (keyup)="next(pin4)">
                    <input class="input-field otp" #pin4 type="password" maxlength="1" (keyup)="next(pin5)">
                    <input class="input-field otp" #pin5 type="password" maxlength="1" (keyup)="next(pin6)">
                    <input class="input-field otp" #pin6 type="password" maxlength="1" (keyup)="next(bt)">
                </div>
                <button type="submit" class="btn" #bt routerLink="/dashboard">Next</button>
            </form>
        </div>
    </div>
</div>