.form-container {
  padding-top: 10%;
  margin: auto;
}

.login-image img {
  width: 60%;
  display: block;
  margin: auto;
}

.login-form {
  margin-top: 2em;
}

h1 {
  font-weight: bolder;
}

p {
  font-size: .9em;
  color: #c3c4c3;
}

.input-container{
  display: block;
  margin: auto;
  width: 85%;
}

.input-field {
  display: inline-block;
  height: 1.5em;
  width: 1.5em;
  font-size: 1.3em;
  margin: 0.5em;
  border: 1px solid grey;
  border-radius: 3px;
}

.input-field:visited {
  border-color: #34aa95;
  color: #34aa95
}

.btn {
  background-color: #ccd6dd;
  color: white;
  padding: 0.93em 1.25em;
  cursor: pointer;
  width: 70%;
  opacity: 0.9;
  margin-top: 1em;
}

.btn:hover {
  opacity: 1;
}


@media screen and (max-width : 992px) {
  .login-image img {
    width: 70%;
    position: relative;
  }

  div {
    display: block;
  }

  .login-form {
    display: block;
    position: relative;
    width: 100%;
    right: 0;
    margin: auto;
    overflow: visible;
  }

  h1 {
    width: 100%;
    margin: auto;
    text-align: center;
    margin-top: 1em;
  }

  p {
    margin-bottom: 1em;
    font-size: 0.8em;
    text-align: center;
  }

  .input-container {
    width: 80%;
    display: block;
    margin: auto;
  }

  .input-field {
    margin: 0.56em;
    font-size: 1em;
  }

  .btn {
    margin-top: 1.3em;
    display: block;
    margin: auto;
    width: 80%;
  }
}