.form-container {
    width: 80%;
    padding-top: 10%;
    margin: auto;
  }
  
  .login-image img {
    width: 24%;
    display: inline-block;
    left: 13%;
    position: absolute;
  }
  
  .login-form {
    display: inline-block;
    width: 30%;
    position: absolute;
    right: 5%;
    margin-top: 2em;
  }
  
  h1 {
    font-weight: bolder;
  }
  
  /* .input-container {
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 1em;
  } */
  
  p {
    font-size: .9em;
    color: #c3c4c3;
  }
  
  .input-field {
    display: inline-block;
    height: 1.5em;
    width: 1.5em;
    font-size: 1.3em;
    margin: 2em 0.38em 1.7em 0.45em;
    padding: 0.5em;
    border: 1px solid grey;
    border-radius: 3px;
  }
  
  .input-field:visited{
    border-color: #34aa95;
    color: #34aa95 
  }
  
  .btn {
    background-color: #ccd6dd;
    color: white;
    padding: 0.93em 1.25em;
    border: none;
    cursor: pointer;
    width: 70%;
    opacity: 0.9;
  }
  
  .btn:hover {
    opacity: 1;
  }
  
  
  @media screen and (max-width : 992px) {
    .login-image img {
      width: 70%;
      position: relative;
    }
  
    div {
      display: block;
    }
  
    .login-form {
      display: block;
      position: relative;
      width: 100%;
      right: 0;
      margin: auto;
      overflow: visible;
    }
  
    h1 {
      width: 90%;
      margin: auto;
      margin-top: 1em;
    }
  
    p {
      width: 90%;
      margin: auto;
      margin-bottom: 1em;
    }
  
    .input-container {
      margin: auto;
      width: 100%;
    }
  
    .input-field {
      margin: 0.5em;
    }
  
    .btn {
      margin-top: 1.3em;
      margin-left: auto;
      margin-right: auto;
      display: block;
      width: 54%;
    }
  }