*{
  color: white;
  border: none;
}

.form-container {
  padding-top: 10%;
  margin: auto;
}

.col-sm{
  margin-right: 2em;
  margin-left: 2em;
}

.login-image h1 {
  /* font-family: 'Boogaloo', cursive; */
  color: #34aa95;
  /* width: 90%; */
  text-align: center;
}

.login-image img {
  width: 70%;
  display: block;
  margin: auto;
}

.login-form {
  display: inline-block;
  padding-top: 3%;
  /* margin-left: 10em; */
  margin-top: 2em;
}

.btn {
  padding-top: 0.85em;
  padding-bottom: 0.85em;
  border-radius: 5px;
  cursor: pointer;
  width: 75%;
  margin-bottom: 0.7em;
  margin-top: 0.7em;
  font-weight: 500;
}

.icon {
  background-color: inherit;
  margin-right: 15%;
}

#login {
  background-color: #daf1ec;
  color: #5dbbab;
}

#signup {
  background-color: #34aa95;
}

p {
  color: #c3c4c3;
  margin-top: 2%;
  margin-bottom: 2%;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  font-size: 0.9em;
}

#facebook {
  background-color: #264d9d;
  display: inline-block;
  width: 35%;
  margin-right: 2.5%;
}

#google {
  background-color: #e7270b;
  display: inline-block;
  width: 35%;
  margin-left: 2.5%;
}

.btn:hover {
  opacity: 1;
}

@media screen and (max-width : 992px) {
  .login-image{
    width: 100%;
    margin: auto !important;
  }
  
  .login-image img {
    width: 60%;
    display: block;
    margin: auto;
    margin-bottom: 3em;
  }

  div {
    display: block !important;
  }

  .login-form {
    width: 100%;
    margin: auto !important;
  }

  .btn{
    width: 40% !important;
    margin: 0.8em !important;
    font-size: 1.1em;
  }
  .icon{
    display: inline;
    margin-right: 0.5em;
  }

  p{
    text-align: center;
  }

  h1{
    font-size: 2em;
    font-weight: bold; 
  }

}