<app-navbar></app-navbar>
<div class="form-container">
    <div class="login-image">
        <h1>Welcome to windmill</h1>
        <img src="/assets/images/login.png" alt="">
    </div>
    <div class="login-form">
        <form action="/">
            <button type="submit" class="btn" id="login" routerLink="/login">Log In</button>
            <button type="submit" class="btn" id="signup" routerLink="/signup">Signup</button>
            <p>or register with</p>
            <button type="submit" class="btn" id="facebook">
                <i class="fa fa-facebook icon"></i>
                Facebook
            </button>
            <button type="submit" class="btn" id="google">
                <i class="fa fa-google-plus icon"></i>
                Google+
            </button>
        </form>
    </div>
</div>