<app-navbar></app-navbar>

<div class="form-container">
    <div class="login-image">
        <img src="/assets/images/login.png" alt="">
    </div>
    <div class="login-form">
        <form action="/">
            <p>Step 4 of 4</p>
            <h1>Create Your 6 Digits PIN</h1>
            <p id="grytxt">6 Digits PIN is used to login to Windmill????<br>create your uniquePIN to avoid similarity</p>
            <div class="input-container">
                <input class="input-field otp" type="password" maxlength="1">
                <input class="input-field otp" type="password" maxlength="1">
                <input class="input-field otp" type="password" maxlength="1">
                <input class="input-field otp" type="password" maxlength="1">
                <input class="input-field otp" type="password" maxlength="1">
                <input class="input-field otp" type="password" maxlength="1">
            </div>
            <button type="submit" class="btn" routerLink="/dashboard">Next</button>
        </form>
    </div>
</div>