<div class="container">
    <div class="row">
        <div class="col-sm">
            <div class="container">
                <div class="row row2">
                    <div class="col-sm">
                        User Id
                    </div>
                    <div class="col-sm">
                        :
                    </div>
                    <div class="col-sm">
                        admin
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row row2">
                    <div class="col-sm">
                        Address
                    </div>
                    <div class="col-sm">
                        :
                    </div>
                    <div class="col-sm">
                        JP square <br> Sadashivanagar <br> Bangalore
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="container">
                <div class="row row2">
                    <div class="col-sm">
                        Order Placed On
                    </div>
                    <div class="col-sm">
                        :
                    </div>
                    <div class="col-sm">
                        22/11/1995
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row row2">
                    <div class="col-sm">
                        Delivered By
                    </div>
                    <div class="col-sm">
                        :
                    </div>
                    <div class="col-sm">
                        Saranya
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row row2">
                    <div class="col-sm">
                        Updated By
                    </div>
                    <div class="col-sm">
                        :
                    </div>
                    <div class="col-sm">
                        No One
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>