<app-navbar></app-navbar>

<div class="form-container">
    <div class="login-image">
        <img src="/assets/images/login.png" alt="">
    </div>
    <div class="login-form">
        <form action="/">
            <p>Step 3 of 4</p>
            <h1>Let's Create Your ID</h1>
            <p id="grytxt">Input your full name and create user name for your identity</p>
            <div class="input-container">
                <input class="input-field" type="text" placeholder="Your Full Name">
                <input class="input-field" type="email" placeholder="Your Email Here">
            </div>
            <div class="check">
                <input type="checkbox" name="">By goint to the next step you agree to the Windmill's <a href="">Privacy
                    policy</a>
            </div>
            <button type="submit" class="btn" routerLink="/createpin">Next</button>
        </form>
    </div>
</div>