<app-navbar></app-navbar>

<div class="form-container">
    <div class="login-image">
        <img src="/assets/images/login.png" alt="">
    </div>
    <div class="login-form">
        <form action="/">
            <p>Step 1 of 4</p>
            <h2>Welcome! Please Input Your Phone Number</h2>
            <p id="grytxt">Input your current phone number to complete your registration</p>
            <div class="input-container">
                <input class="input-field" type="text">
            </div>
            <button type="submit" class="btn" routerLink="/dashboard">Next</button>
        </form>
    </div>
</div>